@import url('https://fonts.googleapis.com/css?family=Poppins');


@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.title{
    font-size: 5rem;
    color: #fff;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.subtitle{
    margin-top: -30px;
    margin-bottom: 50px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

 #top-email{
    border: 1px solid white;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

#top-email:hover{
    border: 1px solid aqua;
    color: aqua;
    transition:all .5s ease-in;
    animation-duration: 1s;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link:hover{
    color: aqua;
}

.section-desc{
    color: gray;
}

.navbar{
    background-color: #55524f;
    padding: 1% 0;
    font-size: 1.2em;

}

.navbar-brand img{
    min-height: 50px;
    padding: 0 15px 5px;
    width: 100px;
}

.navbar-default .navbar-nav li a{
    color: #d5d5d5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
    color: #fff;
}

.home{
    /*by blocking the next line, I set particles background */
    /*background: url(../img/bg1.jpg) no-repeat center center fixed;*/
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    /*position: relative;*/
    position: absolute;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
    color: white;
}

.landing-text h3, h2 {
  
    color: white;
}

.icon-link-top img{
    width: 100px;
    height: 80px;
}

/*.landing-text #top-email{
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}*/

.padding{
    padding: 80px 0;
}

.padding img{
    width: 100%;
}

footer{
    padding: 20px;
    font-weight: 900;
    margin-top: 20px;
    color: black;
    /*background: rgba(82, 81, 84, 0.2);*/
    background: #eff0f1;
    font-size: 20px;
}



#form-section{
    background: #d5d5d5;
}

#project-section{
    background: #fff;
}

.fa{
    padding: 15px;
    font-size: 25px;
    color: #fff;
}

.fa:hover{
    text-decoration: none;
    color: #d5d5d5;
}

icon {
    max-width: 200px;
}

@media (max-width: 768px) {
    
      img{
          max-width: 100%;
          max-height: 100%;
      }
      p{
        text-align: center;
    }
}

@media (max-width: 968px) {
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
    p{
       max-width: 550px;
    }
    
}

@media (max-width: 1250px) {
    
    img{
        max-width: 100%;
        max-height: 100%;
    }

    p{
        text-align: center;
    }
  
}
/*
@media (max-width: 768px) {
    .landing-text h1{
        font-size: 300%;
    }
    .fa{
        font-size: 20px;
        padding: 10px;
    }
    .icon{
        padding-top: 5%;
        max-width: 100px;
    }

    
}*/

.navbar-nav{
    padding-left: 80%;
}

#portfolio-pics {
    width: 550px;
    height: 400px;
    overflow: hidden;
}

#portfolio-pics:hover{
    filter: opacity(.6);
    transition:all .5s ease-in-out;
}

.btn:hover{
    border-radius: 10px;
    color: aqua;
    transition:all .5s ease-in-out;
    cursor: pointer;
}

#portfolio-title{
    text-align: center;
    color: aqua;
}

.icon-link img{
    width: 50px;
    height: 40px;
}

p{
    text-align: center;
}

a, p{
    text-decoration: none;
    list-style: none;
}

#link-click {
    text-decoration: none;
}

.contact-email a {
    text-decoration: none;
}

.social-icon:hover{
    opacity: 0.5;
    background: aqua;
    border-radius: 10px;
}

.contact-email a{
    color: black;
}

.contact-email a:hover{
    color: aqua;
    transition:all .5s ease-in-out;
}

.contact-phone, .contact-email {
    font-size: 20px;
}


/* PARTICLES STYLES */
#particles-js{
    background: rgb(94, 94, 94);
    height: 100vh;
    position: relative;
}


/*Functionality of Scrolling Button*/

.scroll-to-top {
    text-decoration: none;
    position: fixed; 
    top: 80%;
    right: 20px;
    display: none;
    font-size: 36px;
    color: #555;
 
  }
  
  .scroll-to-top:hover {
    transform:scale(1.25);
    transition: 1s;
  }


